<h1><%= Time.current %></h1>

<div class="my-4">
  <%= link_to 'Trigger reflex', '#', class: 'btn btn-primary btn-sm', data: { reflex: 'click->ExampleReflex#update' } %>
</div>

<%= render partial: 'hello' %>

<script type="text/javascript">
  document.getElementById('hello').addEventListener('click', function() {
    console.log('You clicked on the table.')
  })
</script>
